<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events List</title>
</head>
<body>
    <h1>Events List</h1>
    {% if current_user.is_authenticated %}
        <h2><a href={{url_for("create_event")}}>Create event</a></h2>
        <h2><a href={{url_for("logout")}}>Logout</a></h2>
    {% else %}
    <h2><a href={{url_for("login")}}>Sign in</a></h2>
    {% endif %}
    <h2><a href={{url_for("user_list")}}>User List</a></h2>
    {% for event in events %}
    <hr>
        <h3><a href={{url_for("create_meeting", event_id=event.id)}}>{{event.title}}</a></h3>
        <h4>Description {{event.description}}</h4>
        <h4>Duration {{event.start_date}} - {{event.end_date}}</h4>
        <h4>Time {{event.start_time[11:]}} - {{event.end_time[11:]}}</h4>
        {% if current_user.id == event.host %}
            <h4><a href={{url_for("delete_event", event_id=event.id)}}>delete</a></h4>
        {% endif %}
    {% endfor %}
    <hr>
</body>
</html>