<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meetings List</title>
</head>
<body>
    <h1>Meetings List</h1>
    {% if current_user.is_authenticated %}
        <h2><a href={{url_for("create_event")}}>Create event</a></h2>
        <h2><a href={{url_for("logout")}}>Logout</a></h2>
    {% else %}
    <h2><a href={{url_for("login")}}>Sign in</a></h2>
    {% endif %}
    <h2><a href={{url_for("user_list")}}>User List</a></h2>
    {% for meeting in meetings %}
    {% if meeting.event%}
    <hr>
        <h3>{{meeting.event.title}}</h3>
        <h4>Description {{meeting.event.description}}</h4>
        <h4>Attendee {{meeting.attendee_name}}</h4>
        <h4>Time {{meeting.start_time}} - {{meeting.end_time}}</h4>
        {% if current_user.id == meeting.host.id %}
            <h4><a href={{url_for("delete_meeting", meeting_id=meeting.id)}}>delete</a></h4>
        {% endif %}
    {% endif %}
    {% endfor %}
    <hr>
</body>
</html>