<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
    <h1>Users List</h1>
    {% if current_user.is_authenticated %}
        <h2><a href={{url_for("create_event")}}>Create event</a></h2>
        <h2><a href={{url_for("logout")}}>Logout</a></h2>
    {% else %}
    <h2><a href={{url_for("login")}}>Sign in</a></h2>
    {% endif %}
    <h2><a href={{url_for("user_list")}}>User List</a></h2>
    {% for user in users %}
        <hr/>
        <h2><a href={{url_for("events_list", user_id=user.id)}}>{{user.username}}</a></h2>
        {% if current_user.id == user.id %}
        <h2><a href={{url_for("delete_user", user_id=user.id)}}>delete</a></h2>
        {% endif %}
    {% endfor %}
    <hr/>
</body>
</html>